.events-container {
  padding: 40px 0px;
  background: url("../../../public/bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.events-title {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
}

.events-title span {
  font-size: 2.3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #27A5DE 0%, #083F57 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.search-wrapper {
  position: relative;
  width: 250px;
  top: -8px;
}

.search-wrapper i {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #777;
  font-size: 1.1rem;
  pointer-events: none;
}

.search-input {
  width: 80%;
  padding: 10px 14px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 0.95rem;
  background: #fff;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #0f1a75;
  box-shadow: 0 0 6px rgba(15, 26, 117, 0.25);
  outline: none;
}

.all-btn {
  background: #0f1a75;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.all-btn:hover {
  background: #222;
  transform: translateY(-2px);
}

.events-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
}

@media (min-width: 700px) {
  .events-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .events-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.event-card {
  background-color: black;
  border-radius: 14px;
  border: 1px solid #27A5DE;
  padding: 22px;
  transition: transform 0.25s, box-shadow 0.25s;
  backdrop-filter: blur(6px);
  width: 500px;
}


.event-header {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-between;
}

.event-header .event-text {
  display: flex;
  align-items: center;
}

.event-header h3 {
  font-size: 1.4rem;
  color: white;
  margin: 0;
  font-weight: 600;
}

.event-badge {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.event-badge.technical {
  background-color: #2563eb;
}

.event-badge.cultural {
  background-color: #ef4444;
}

.event-badge.sports {
  background-color: #22c55e;
}

.event-badge.departmental {
  background-color: #9333ea;
}

.event-badge.academic {
  background-color: #7c3aed;
}

.event-date,
.event-venue,
.event-description {
  margin: 6px 0;
  color: white;
  font-size: 0.95rem;
}

.event-date i,
.event-venue i {
  margin-right: 6px;
  color: #27A5DE;
}

.no-events {
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  margin-top: 25px;
}

@media screen and (max-width: 768px){
  .event-card {
     width: 300px;
  }
}