.faq-container {
    max-width: 800px;
    margin:auto;
    color: #fff;
}
.faq{
    background-color: #000;
}
.faq-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 60px;
}
.faq-title span{
     font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #27A5DE 0%, #083F57 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.faq-line {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color: black;
}

.faq-list {
    border-radius: 6px;
}

.faq-item {
    background: #000;
    border-radius: 6px;
    padding: 20px 0px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.05);
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.faq-question {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-left: 4px solid #27A5DE;
    font-weight: 600;
    font-size: 14px;
    position: relative;
}

.faq-border {
    margin-right: 10px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.faq-toggle-icon {
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.faq-answer {
    padding: 15px 20px;
    font-size: 14px;
    color: #fff;
    border-top: 1px solid #eee;
    line-height: 1.5;
}